@charset "UTF-8"; 

/* 
## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    max-width: 1000px;
    border-radius: 5px;
}

.conteudo {
    padding: 60px;
    width: 500px;
}

.texto > h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    margin-bottom: 25px;
    font-size: 30px;
}

.purple {
    color: hsl(277, 64%, 61%);
}

.texto > p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 400;
    margin-bottom: 70px;
    line-height: 1.75;
}

.infos {
    display: flex;
    gap: 70px;
}

.stat-number {
    font-family: 'Inter';
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    font-size: 18px;
}

.stat-headings {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca';
    font-size: 10px;
}


@media screen and (max-width: 1020px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}